/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(assets/Lato/S6u-w4BMUTPHjxsIPx-mPCLC79U11vU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(assets/Lato/S6u-w4BMUTPHjxsIPx-oPCLC79U1.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI9w2_FQftx9897sxZ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Italic'), local('Lato-Italic'), url(assets/Lato/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Italic'), local('Lato-Italic'), url(assets/Lato/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI3wi_FQftx9897sxZ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI3wi_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(assets/Lato/S6u8w4BMUTPHh30AUi-qNiXg7eU0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(assets/Lato/S6u8w4BMUTPHh30AXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(assets/Lato/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(assets/Lato/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(assets/Lato/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(assets/Lato/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'), url(assets/Lato/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'), url(assets/Lato/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black'), local('Lato-Black'), url(assets/Lato/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black'), local('Lato-Black'), url(assets/Lato/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    margin: 0;
    min-height: 100%;
    font-size: 18px;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Lato";
}
.portfolio {
    height: 48rem;
    background-color: #2d303a;
    position: relative;
}
.portfolio .wrapper {
    display: grid;
    grid-template-rows: 178px 1fr;
    grid-row-gap: 1rem;
}
.wrapper {
    margin-left: 3.9215686274509802%;
    margin-right: 3.9215686274509802%;
    height: 100%;
}
.portfolio:after {
    height: 6px;
    background-color: #2c2f3a;
    position: absolute;
    width:100%;
    content: '';
    z-index:2;
    bottom: -6px;
}
header {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
header h1 {
    margin:0;
    height: 3rem;
    color: #666d89;
    font-size: 1.7rem;
}
header p {
    height: 2.1666666666666665rem;
    line-height: 1.6666666666666667rem;
    color: #767e9e;
    font-weight: 300;
    margin:0;
}
nav ul li {
    font-size: 0.6666666666666666rem;
    color: #767e9e;
    line-height:1.2222222222222223rem;
    list-style-type: none;
    border: 1px solid #767e9e;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li:hover {
    color: #dedede;
    border:1px solid #dedede;
    cursor: pointer;
}
nav ul .active {
    color: #dedede;
    border:1px solid #dedede;
    cursor: pointer;
    letter-spacing: 0.9px;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.6666666666666666rem;
    padding: 0;
    margin:0;
}
nav {
    width: 16rem;
}
.portfolio__photoGrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1.1111111111111112rem;
    grid-row-gap: 1.1111111111111112rem;
    grid-template-rows: repeat(3, 10.38888888888889rem);
    width: 100%;
}
.portfolio__photoGrid .ship {
    background-image: url("./assets/Project.png");
    background-position: 50% 20%;
}
.portfolio__photoGrid .faceWithIceCream {
    background-image: url("./assets/Project (1).png");
    background-position: 57% 51%;
}
.portfolio__photoGrid .cosmos {
    background-image: url("./assets/Layer 9.png");
    background-position: 37% 0%;
}
.portfolio__photoGrid .robot {
    background-image: url("./assets/Project (2).png");
    background-position: 57% 25%;
}
.portfolio__photoGrid .creatures {
    background-image: url("./assets/Project (3).png");
    background-position: 50% 18%
}
.portfolio__photoGrid .boxes {
    background-image: url("./assets/Project (4).png");
    background-position: 40%;
}
.portfolio__photoGrid .aliens {
    background-image: url("./assets/Layer 11.png");
    background-position: 20% 21%;
}
.portfolio__photoGrid .birds {
    background-image: url("./assets/Layer 8.png");
    background-position: 42% 35%
}
.portfolio__photoGrid .greenMonster {
    background-image: url("./assets/Project (11).png");
    background-position: 50%;
}
.portfolio__photoGrid .signature {
    background-image: url("./assets/Project (6).png");
    background-position: 55% 24%
}
.portfolio__photoGrid .whiteMonster {
    background-image: url("./assets/Project (8).png");
    background-position: 74% 78%;
}
.portfolio__photoGrid .pillow {
    background-image: url("./assets/pillow.png");
    background-position: 47% 25%
}
.portfolio__photoGrid div {
    width: 100%;
    height:10.38888888888889rem;
}
.portfolio__photoGrid div:nth-child(n+13) {
    display: none;
}
.about-us .wrapper{
    display: grid;
    height:auto;
}
.about-us h1 {
    color: #666d89;
    font-size:1.7rem;
    height: 5.666666666666667rem;
    display: flex;
    align-items: flex-end;
}
h1,h4,p {
    margin:0;
    padding:0;
}
.about-us__about-us {
    line-height: 1.6666666666666667rem;
    color: #767e9e;
    font-weight:300;
    height: 2.6666666666666665rem;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.15px;
}
.about-us__about-us + p {
    line-height: 1.5555555555555556rem;
    color: #767e9e;
    font-weight:300;
}
.about-us__employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.1111111111111112rem;
    margin-top:5%;
}
.about-us__employees img {
    width:100%;
}
.about-us__names {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 1.1111111111111112rem;
    color: #666d89;
}
.about-us__names p:nth-child(2) {
    font-size: 0.6666666666666666rem;
    line-height: 1.2222222222222223rem;
    height: 1.7222222222222223rem;
    display: flex;
    align-items: flex-end;
}
.about-us__names p:nth-child(3) {
    font-size: 0.6666666666666666rem;
    line-height: 1.2222222222222223rem;
}
.about-us__names section h4 {
    height: 1.9444444444444444rem;
    display: flex;
    align-items: flex-end;
}
.icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 53%;
    height: 3.111111111111111rem;
    align-content: flex-end;
}
.about-us {
    position: relative;
    background-color: #f2f2f2;
    min-height: 40.77777777777778rem;
}
.about-us:after {
    height: 0.3333333333333333rem;
    background-color: white;
    position: absolute;
    width:100%;
    content: '';
    z-index:2;
    bottom: -0.3333333333333333rem;
}
.icons img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.about-us__names section h4 span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.about-us__names section:nth-child(1) p:nth-child(2) {
    letter-spacing: -0.06px;
}
.about-us__names section:nth-child(2) p:nth-child(2), .about-us__names section:nth-child(3) p:nth-child(2) {
    letter-spacing: 0.11px;
}
.about-us__names-wrapper {
    height:209px;
}