/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(assets/Lato/S6u-w4BMUTPHjxsIPx-mPCLC79U11vU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(assets/Lato/S6u-w4BMUTPHjxsIPx-oPCLC79U1.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI9w2_FQftx9897sxZ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Italic'), local('Lato-Italic'), url(assets/Lato/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Italic'), local('Lato-Italic'), url(assets/Lato/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI3wi_FQftx9897sxZ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(assets/Lato/S6u_w4BMUTPHjxsI3wi_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(assets/Lato/S6u8w4BMUTPHh30AUi-qNiXg7eU0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(assets/Lato/S6u8w4BMUTPHh30AXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(assets/Lato/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(assets/Lato/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(assets/Lato/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(assets/Lato/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'), url(assets/Lato/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato Bold'), local('Lato-Bold'), url(assets/Lato/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black'), local('Lato-Black'), url(assets/Lato/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Lato Black'), local('Lato-Black'), url(assets/Lato/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    margin: 0;
    min-height: 100%;
    font-size: 18px;
    font-family: "Lato";
}
h1,h2,h3,h4,h5,h6,p {
    margin:0;
    padding:0;
}
.get-a-quote-section {
    height: 649px;
}
.main {
    background-color: #f06c64;
    position: relative;
}
.main:after {
    height: 6px;
    background-color: #ea676b;
    position: absolute;
    width:100%;
    content: '';
    z-index:2;
    bottom: -6px;
}
.wrapper {
    margin-left: 3.9215686274509802%;
    margin-right: 3.9215686274509802%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get-a-quote {
    font-size:1.7rem;
    color: #f0d8d9;
    display: flex;
    align-items: flex-start;
    height:55px;
    line-height: 25px;
    letter-spacing: -0.15px;
}
.get-a-quote-grid {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 18px;
}
.get-a-quote-grid__elements{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}
.get-a-quote-grid .get-a-quote-text{
    color: #f0d8d9;
    height: 96px;
    line-height: 30px;
    font-weight: 300;
}
.get-a-quote, .get-a-quote-text {
    grid-column-start: 1;
    grid-column-end: 3;
}
#form input {
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: hidden;
}
.form__project-description {
    background-color: #d6564f;
    border: hidden;
    resize: none;
    height: 203px;
}
#form {
    display: grid;
    width: 34.5rem;
    grid-row-gap: 0.8888888888888888rem;

}
#form input::placeholder,
#form textarea::placeholder,
#form ::-webkit-input-placeholder
{
    font-size: 0.6666666666666666rem;
    color: #f48c8f;
}

#form :-ms-input-placeholder,
#form ::-moz-placeholder,
#form :-moz-placeholder {
    font-size: 0.6666666666666666rem;
    color: #f48c8f;
}
#form input,
#form textarea {
    padding-left: 0.79rem;
    color: #f48c8f;
    box-sizing: border-box;
}
#form textarea {
    padding-top: 0.9em;
}
.contact-info {
    color: #f0d8d9;
    line-height: 17px;
    letter-spacing: 0.15px;
}
.contact-info__text, .contact-info__icon-text {
    font-size: 12px;
    color: #f0d8d9;
    line-height: 22px;
}
.contact-info__text {
    height: 113px;
    transform: translate(0px, 10px);
    width: 302px;
    text-align: justify;
}
.contact-info__img {
    display: inline-grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    justify-content: center;
}
.contact-info__img img:first-child {
    transform: translate(4px, 0px);
}
.contact-info__icon-text {
    transform: translate(-6px, 2px);
}
.footer {
    height: 86px;
    background-color: #2d303a;
    font-size: 0.6666666666666666rem;
    line-height: 22px;
    font-weight: 400;
}
.copyright {
    color: #626984;
    transform: translate(2px, 0px);
}
.footer__social-icons {
    display: flex;
    justify-content: space-between;
    width: 154px;
}
.footer__social-icons img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.get-a-quote-text p:first-child {
    letter-spacing: 0.15px;
    line-height: 14px;
}
.get-a-quote-text p:nth-child(2) {
    line-height: 43px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
#form {
    position: relative;
}
#form button[type=submit] {
    position: absolute;
    top: 21rem;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: hidden;
    width: 20rem;
    color: #f48c8f;
}
#form button[type=submit]:hover {
    background-color: #d34c45;
    cursor: pointer;
}
@media only screen and (min-width: 1050px) {
    .get-a-quote-section .wrapper {
        justify-content: center;
    }
}
input,textarea {
    font-family: Lato;
}
.address {
    line-height: 21px;
}
.phone {
    line-height: 23px;
}